/* Styles go here! */
body {
    background: white;
    font-family : 'museoslab', Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 620px;
    margin: 20px auto;
}

#player {
    float: left;
    width: 0;
    margin: 8px 20px 0 0;
}

#stations {
    width: 300px;
    float: left;
}

    #stations p, #stations p a {
        color: #999;
    }

    #stations li, #stations a {
        text-decoration: none;
        font-size: 20px;
        line-height: 35px;
        color: black;
    }

    #stations a:hover, #stations a.now {
        color: red;
    }

    #stations .info {
        margin-top: 25px;
    }